.counter {
    margin: 10px;
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}

.counterBlock {
    display: flex;
}

.counterText {
    font-size: 11px;
}

.counterNameText {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

